spring:
    application:
        name: kiotviet
    datasource:
        url: jdbc:mysql://localhost:33006/kiotviet_db
        username: root
        password: root1234
        driver-class-name: com.mysql.cj.jdbc.Driver
        hikari:
            maximum-pool-size: 10
            minimum-idle: 5
            idle-timeout: 300000
            max-lifetime: 1200000
            connection-timeout: 20000
            leak-detection-threshold: 60000
            pool-name: KiotvietHikariPool
    jpa:
        hibernate:
            ddl-auto: validate
        show-sql: true
        properties:
            hibernate:
                format_sql: true
    flyway:
        enabled: true
        locations: classpath:db/migration
        validate-on-migrate: true
        clean-disabled: false
    data:
        redis:
            host: localhost
            port: 6379
            timeout: 2000ms
            lettuce:
                pool:
                    max-active: 8
                    max-idle: 8
                    min-idle: 0
        

server:
    port: 8080

app:
  jwt:
    secret: kiotvietSecretKeyForJWTTokenGeneration123456789
    expiration: 900 # 15 minutes in seconds
    refresh-expiration: 604800 # 7 days in seconds

logging:
    level:
        root: INFO
        fa.academy.kiotviet: DEBUG
        org.springframework.security: DEBUG
